<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Boats.css">

    <script src="/scripts/usageTime.js"></script>

    <script src="/components/loader.js"></script>
    <script src="/components/messageModal.js"></script>

    <script src="/scripts/boats.js"></script>

    <title>Fishbook - Boats</title>
</head>
<body>
    <script src="/components/navBar.js"></script>
    <script src="/components/returnButton.js"></script>

    
    <div class="title-div">
        <h1>Suas embarcações</h1>
            <a href="/boat/create">Cadastrar Embarcação</a>
            <a href="/fishery/organizer/list" class="fishery-button">Pescarias criadas por você</a>
    </div>

    <div class="container" id="boat-list">

    </div>
</body>
</html>