<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/changePassword.css">

    <script src="/scripts/usageTime.js"></script>

    <script src="/components/messageModal.js"></script>
    <script src="/components/loader.js"></script>
    <script src="/scripts/changePassword.js" defer></script>
    <title>Fishbook - Alterar minha senha</title>
</head>
<body>
    <script src="/components/navBar.js"></script>
    <script src="/components/returnButton.js" data-path="/profile-config"></script>

    <section class="container">
        <h1>Alteração de Senha</h1>

        <div class="label-input first">
            <label for="current-password">Senha atual</label>
            <input type="password" placeholder="Digite sua senha atual" id="current-password">
        </div>
        
        <div class="label-input">
            <label for="new-password">Nova senha</label>
            <input type="password" placeholder="Digite sua nova senha" id="new-password" oninput="validatePass()">
            <span class="error" id="error-newPassword"></span>
        </div>
        
        <div class="label-input">
            <label for="confirm-password">Confirmar nova senha</label>
            <input type="password" placeholder="Confirme sua nova senha" id="confirm-password" oninput="validateConfirm()">
            <span class="error" id="error-confirm"></span>
        </div>


        <button id="save">Salvar nova senha</button>
    </section>
</body>
</html>