<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/createFishery.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css' rel='stylesheet' />

    <script src="https://cdn.jsdelivr.net/npm/@turf/turf/turf.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js'></script>
    
    <script src="/components/loader.js"></script>
    <script src="/components/messageModal.js"></script>
    <script src="/components/MapBox.js"></script>
    
    <script src="/scripts/createFishery.js" defer></script>

    <title>Fishbook - Cadastrar Embarcação</title>
</head>

<body>
    <script src="/components/navBar.js"></script>
    <script src="/components/returnButton.js"></script>

    <h1>Agendamento de Pescaria</h1>

    <div class="map-div">
        <span>Clique no mapa para selecionar as coordenadas do destino:</span>
        <div id="map"></div>
    </div>

    <form onsubmit="event.preventDefault()">
        <div class="label-input">
            <label for="description">Descrição do destino (Ex: Queimada Grande):</label>
            <input type="text" id="description" maxlength="20">
        </div>
        
        <div class="radio" id="lunch">
            <label>Almoço incluso:</label>
            
            <input type="radio" id="lunch-yes" name="lunch" value="1">
            <input type="radio" id="lunch-no" name="lunch" value="0" checked>

            <div><label for="lunch-yes" onclick="isChecked(event, 'lunch')"></label> Sim</div>

            <div><label for="lunch-no" onclick="isChecked(event, 'lunch')" class="checked"></label> Não</div>
        </div>

        <div class="input-container">
            <div class="label-input">
                <label for="harbor">Selecione o ponto de partida (Porto ou píer):</label>
                <select id="harbor">
                    <option value="#" disabled selected>Selecione um porto de partida</option>
                </select>
            </div>
           
            <div class="label-input">
                <label for="boat">Selecione um barco:</label>
                <select id="boat">
                    <option value="#" disabled selected>Selecione um barco</option>
                </select>
            </div>
        </div>

        <div class="input-container">
            <div class="label-input">
                <label for="departure-date">Data de partida:</label>
                <input type="date" id="departure-date">
            </div>
            
            <div class="label-input">
                <label for="departure-time">Horário de partida:</label>
                <input type="time" id="departure-time">
            </div>
        </div>
        
        <div class="input-container">
            <div class="label-input">
                <label for="return-date">Data de retorno:</label>
                <input type="date" id="return-date">
            </div>
            
            <div class="label-input">
                <label for="return-time">Horário de retorno:</label>
                <input type="time" id="return-time">
            </div>
        </div>
       
        <div class="label-input">
            <label for="price">Preço por pessoa:</label>
            <input type="text" id="price">
        </div>


        <div class="button-container">
            <button id="save">Criar Pescaria</button>
        </div>
    </form>
</body>

</html>