<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/scripts/cropperJS/cropper.css" rel="stylesheet">

    <link rel="stylesheet" href="/styles/createBoat.css">
    <script src="/scripts/cropperJS/cropper.js"></script>



    <script src="/components/loader.js"></script>
    <script src="/components/messageModal.js"></script>

    <script src="/scripts/createBoat.js" defer></script>

    <title>Fishbook - Cadastrar Embarcação</title>
</head>

<body>
    <script src="/components/navBar.js"></script>
    <script src="/components/returnButton.js"></script>

    <h1>Cadastre seu barco</h1>

    <div class="upload-container">
        <div class="upload-content">
            <label for="upload">Realizar upload</label>
            <input type="file" id="upload">
        </div>
    </div>

    <form onsubmit="event.preventDefault()">
        <div class="label-input">
            <label for="name">Nome do barco</label>
            <input type="text" id="name" maxlength="50">
            <span class="error" id="error-name"></span>
        </div>

        <div class="radio" id="dormitory">
            <label>Dormitório:</label>
            
            <input type="radio" id="dormitory-yes" name="dormitory" value="yes">
            <input type="radio" id="dormitory-no" name="dormitory" value="no">

            <div><label for="dormitory-yes" onclick="isChecked(event, 'dormitory')"></label> Sim</div>

            <div><label for="dormitory-no" onclick="isChecked(event, 'dormitory')"></label> Não</div>
        </div>
        
        <div class="radio" id="restroom">
            <label>Sanitário:</label>
            
            <input type="radio" id="restroom-yes" name="restroom" value="yes">
            <input type="radio" id="restroom-no" name="restroom" value="no">

            <div><label for="restroom-yes" onclick="isChecked(event, 'restroom')"></label> Sim</div>

            <div><label for="restroom-no" onclick="isChecked(event, 'restroom')"></label> Não</div>
        </div>

        <div class="label-input">
            <label for="name">Vagas</label>
            <input type="number" id="name">
        </div>


        <div class="button-container">
            <button id="save">Salvar Embarcação</button>
        </div>
    </form>


    <div class="crop-container">
        <div class="crop-div">
            <img src="" id="crop-post">

            <button id="save-post">Salvar</button>
        </div>
    </div>
</body>

</html>