<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/feed.css">
    
    <script src="/components/messageModal.js"></script>
    <script src="scripts/feed.js" defer></script>

    <title>Fishbook - Feed</title>
</head>

<body>
    <script src="/components/navBar.js" data-page="feed"></script>
    <div class="container">
        <main>
            <section class="feed" id="feed">
            </section>
        </main>

        <section class="friends">
            <h1>Sugestões de amizade</h1>

            <div class="suggestions-content">

            </div>
        </section>
    </div>

    <section id="comments">
        <img src="/assets/icons/close.svg" alt="Fechar" id="close-comments">
        <div class="comments-caption-content">
            <div class="caption-container">
                <h3>Legenda do Post</h3>
                <div class="caption">
                    <span id="caption"></span>
                </div>
            </div>
            
            <div id="comment-content"></div>

        </div>


        <div class="comment-input">
            <input type="text" maxlength="255" placeholder="Comentar" id="commentInput">
            <img src="assets/icons/send.svg" id="send">
        </div>
    </section>
</body>

</html>