<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/feed.css">
    
    <script src="/components/messageModal.js"></script>
    <script src="scripts/feed.js" defer></script>

    <title>Fishbook - Feed</title>
</head>

<body>
    <script src="/components/navBar.js" data-page="feed"></script>
    <div class="container">
        <main>
            <section class="feed" id="feed">
            </section>
        </main>

        <section class="friends">
            <h1>Sugestões de amizade</h1>

            <div class="suggestions-content">

            </div>
        </section>
    </div>

    <section id="comments">
        <img src="assets/icons/close.svg" alt="Fechar" id="close-comments">
        <div class="comments-content">
            <div class="caption-container">
                <h3>Legenda do Post</h3>
                <div class="caption">
                    <span>Porque a melhor pescaria não é só sobre o que você pega, mas com quem você compartilha o momento. 🎣🌅 Uma tarde tranquila, boas risadas e muitas histórias para contar.</span>
                </div>
            </div>
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
            
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
            
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
            
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
            
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
            
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
            
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
            
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
            
            <div class="comment">
                <div class="profile" style="background-image: url(assets/images/loginRegisterBackground.png);"></div>
                <span><span class="comment-owner">Bryan Rocha: </span>Que aventura incrível! Nada como a emoção de pescar em alto mar, sentir a brisa e admirar a vastidão do oceano! 🐟🌊 Qual foi o destaque da pescaria? Parabéns pela conquista!</span>
            </div>
        </div>


        <div class="comment-input">
            <input type="text" maxlength="255" placeholder="Comentar">
            <img src="assets/icons/send.svg">
        </div>
    </section>
</body>

</html>