<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fisheryList.css">

    <script src="/scripts/usageTime.js"></script>

    <script src="/components/loader.js"></script>
    <script src="/components/messageModal.js"></script>

    <script src="/scripts/fisheryList.js" defer></script>

    <title>Fishbook - Fishery List</title>
</head>
<body>
    <script src="/components/navBar.js"></script>
    <script src="/components/returnButton.js"></script>

    <div class="title-div">
        <h1 id="title"></h1>
        <a href="/fishery/create" id="create-fishery-button">Criar Pescaria</a>
    </div>

    <div class="container" id="fishery-list">

    </div>
</body>
</html>