<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/friends.css">

    <script src="/components/messageModal.js"></script>
    <script src="/components/loader.js"></script>
    <script src="/scripts/friends.js" defer></script>
    <title>Fishbook - Amigos</title>
</head>

<body>
    <script src="/components/navBar.js"></script>
    <script src="/components/returnButton.js" data-path="/profile/my-profile"></script>


    <div class="container">
        <div class="title-div">
            <h1 id="title">Amigos</h1>
            <a href="/friend-requests" id="view-requests-button">Ver Solicitações de amizade</a>
        </div>

        <section class="friends"></section>


        <section class="suggestions">
            <div class="title-div">
                <h1>Sugestões</h1>
            </div>

            <div class="slide-bar">
                <img id="left-arrow" src="/assets/icons/arrowRight.svg" style="transform: rotate(180deg);"
                    alt="Seta para Esquerda">
                <div class="slide-content">
                    
                    
                    
                </div>
                <img id="rigth-arrow" src="/assets/icons/arrowRight.svg" alt="Seta para Direita">
            </div>

        </section>
    </div>
</body>

</html>