<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/post.css">

    <link href="scripts/cropperJS/cropper.css" rel="stylesheet">


    <script src="/components/loader.js"></script>
    <script src="/components/messageModal.js"></script>
    <script src="scripts/cropperJS/cropper.js"></script>
    <script src="scripts/post.js" defer></script>

    <title>Fishbook - Novo Post</title>
</head>

<body>
    <script src="components/navBar.js" data-page="feed"></script>
    <script src="components/returnButton.js" data-path="/feed"></script>

    <section class="post">
        <h1>Criar Publicação</h1>

        <div class="upload-container">
            <div class="upload-content">
                <label for="upload">Realizar upload</label>
                <input type="file" id="upload">
            </div>
        </div>

        <div class="trim-container">
            <div id="video-trim">
                <div id="start-selector"></div>
                <div id="current-selector"></div>
                <div id="end-selector"></div>
            </div>
            
            <div id="play">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
                  </svg>
            </div>
    
            <div id="pause">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pause-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0z" />
                </svg>
            </div>
        </div>
    </section>


    <section class="caption-div">
        <span>Legenda</span>

        <textarea id="caption"></textarea>

        <button id="publish">Publicar</button>
    </section>

    



    <div class="crop-container">
        <div class="crop-div">
            <img src="" id="crop-post">

            <button id="save-post">Salvar</button>
        </div>
    </div>
</body>

</html>