<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/profile.css">


    <script src="/components/loader.js"></script>
    <script src="/components/messageModal.js"></script>
    <script src="/scripts/profile.js" defer></script>
    <title>Fishbook - Profile</title>
</head>

<body>
    <script src="/components/navBar.js"></script>
    <script src="/components/returnButton.js" data-path="/feed"></script>

    <div class="container">
        <section class="profile-data">
            <div class="profile-content">
                <div class="profile-photo" id="profile-photo"></div>

                <div>
                    <h3 id="name"></h3>
                    <span id="username"></span>
                </div>
                <span id="bio"></span>

                <button id="add-friend">Adicionar</button>
            </div>
        </section>

        <div class="kpi-posts">
            <section class="kpis">
                <span id="friends-kpi">Amigos: <span id="quant-friends"></span></span>
                <span>Publicações: <span id="quant-posts"></span></span>
                <span>Curtidas: <span id="quant-likes"></span></span>
            </section>

            <section class="posts">
                <h3>Publicações</h3>

                <div class="posts-content" id="">

                </div>
            </section>
        </div>
    </div>

    <div id="post-extended-div"></div>
</body>

</html>