<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/profileDashboard.css">

    <script src="/components/loader.js"></script>
    <script src="/components/messageModal.js"></script>
    <title>Fishbook - User statistics</title>
</head>
<body>
    <script src="/components/navBar.js" dat></script>
    <script src="/components/returnButton.js"></script>

    <h1 class="title">Estátisticas do perfil</h1>

    <div class="kpis">
        <span>Amigos: <span id="friends-kpi">10</span></span>
        <span>Publicações: <span id="posts-kpi">10</span></span>
        <span>Curtidas: <span id="likes-kpi">10</span></span>
        <span>Visitas no Perfil: <span id="visits-kpi">10</span></span>
        <span>Pescarias Realizadas: <span id="fish-kpi">10</span></span>
    </div>
</body>
</html