@import url(./root.css);

body {
    background-color: var(--dark-navy);
}

.post {
    text-align: center;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.upload-container {
    height: 40vh;
    aspect-ratio: 16/9;
    margin: 20px auto;
    border-radius: 20px;
    background-color: var(--midnight-blue);

    display: flex;  
    align-items: center;
    justify-content: center;
}

.upload-content {
    border: 2px dashed var(--slate-gray);

    height: 90%;
    aspect-ratio: 16/9;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.upload-content label {
    width: 200px;
    height: 35px;
    background-color: var(--slate-gray);
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;

}


.upload-content input {
    display: none;
}

.upload-content video {
    max-width: 100%;
    max-height: 100%;
}



.crop-container {
    width: 100vw;
    height: 100vh;

    position: absolute;
    background-color: #121f2bc9;
    top: 0;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    display: none;

    z-index: 2;
}

.crop-div {
    width: fit-content;
}

#save-post {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

#crop-post {
    width: fit-content;
    height: fit-content;

    max-height: 70vh;
    max-width: 70vw;
}

#save-post {
    background-color: var(--sky-blue);
    font-size: 1.3rem;
    cursor: pointer;

    transition: all .3s;
    color: white;
    font-size: 1.1rem;

    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

#save-post:hover {
    background-color: var(--sky-blue-hover);
}





/*
    Video trimmer 
*/

.trim-container {
    width: 35%;
    display: none;
    overflow: hidden;
}

#video-trim {
    border: solid 2px var(--slate-gray);
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    
}

#video-trim img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

#start-selector, #end-selector {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.445);
    width: 7px;
    height: 100%;

    
    cursor: pointer;
}


#current-selector {
    background-color: white;
    width: 7px;
    position: absolute;
    height: 100%;
    cursor: pointer;

    border-radius: 50px;
}

#start-selector {
    border-right: solid 7px var(--golden-yellow);
}   

#end-selector {
    right: 0;
    border-left: solid 7px var(--golden-yellow);
}

#play, #pause {
    margin-top: 10px;
    cursor: pointer;
}

#play svg, #pause svg {
    width: 35px;
    height: 35px;
}

#pause {
    display: none;
}





/* Captions */

.caption-div {
    display: flex;
    flex-direction: column;
    width: 50%;

    margin: 0 auto;
}

.caption-div span {
    padding: 5px;
    text-indent: 3px;
}

.caption-div textarea {
    height: 100px;
    padding: 10px;
    resize: none;
    font-size: 1.1rem;

    outline: none;
    background-color: var(--slate-gray);
    border-radius: 10px;
}

.caption-div button {
    background-color: var(--sky-blue);
    border: none;
    border-radius: 50px;

    height: 35px;
    width: 80%;

    margin: 25px auto;
    cursor: pointer;
}