@import url(root.css);

body {
    background-color: var(--dark-navy);
    overflow-x: hidden;
}


.title {
    text-align: center;
}

.kpis {
    font-size: 25px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    gap: 50px;

    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    margin-bottom: 50px;
}

.chart {
    min-width: calc(45% - 20px);
    
    background-color: var(--midnight-blue);
    height: fit-content;
}

.chart-title {
    text-align: center;
    font-size: 28px;
    user-select: none;
}