@import url(root.css);

body {
    background-color: var(--dark-navy);
}


.title {
    text-align: center;
}

.kpis {
    font-size: 20px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    gap: 50px;
}