@font-face {
    font-family: 'ADLaM';
    src: url(../fonts/ADLaMDisplay-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'ADLaM';
    font-weight: 1;

    text-decoration: none;
    list-style: none;
    color: white;
}

:root {
    --dark-navy: #202C36;
    --sky-blue: #5EBEF2;
    --golden-yellow: #EFAF3E;
    --taupe-brown: #736F66;
    --slate-gray: #666673;
    --midnight-blue: #121F2B;

    --sky-blue-hover: #3a7ea3;
}


header {
    background-color: var(--midnight-blue);
    width: 100vw;
    height: 65px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .create {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

header .create img {
    height: 45px;
}

header .create span {
    font-size: 1.4rem;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 80px;
}

header nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

header nav ul li svg {
    height: 32px;
}

header .search {
    display: flex;
    align-items: center;
}

header .search input {
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--slate-gray);

    border-radius: 8px 0 0 8px;
    padding: 10px;
    font-size: 1rem;
}

header .search input::placeholder {
    color: white;
}

header .search img {
    height: 30px;
    border-radius: 0 8px 8px 0;
    background-color: var(--slate-gray);

    cursor: pointer;
}

.profile {
    border: 2px solid var(--sky-blue);
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 50px;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    cursor: pointer;
}

header .notification {
    background-image: url(../assets/icons/bell.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: end;

    cursor: pointer;
}

header .notification .counter {
    background-color: var(--golden-yellow);
    width: 18px;
    height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;

    border-radius: 50%;

    color: black;
}

header ul .selected span {
    color: var(--golden-yellow);
}

header ul .selected .grid path {
    stroke: var(--golden-yellow);
}

header ul .selected svg path:not(.grid path) {
    fill: var(--golden-yellow);
}


main {
    height: calc(100vh - 65px);
    overflow: auto;
    background-color: var(--dark-navy);
    scrollbar-width: 12px;
}

main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-track {
    background: var(--midnight-blue);
}

main::-webkit-scrollbar-thumb {
    background-color: var(--slate-gray);
    border-radius: 20px;
}

.return-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    width: fit-content;
    height: 60px;
    padding: 0 20px;
}

.return-button span {
    margin-bottom: 10px;
}

.return-button img {
    height: 50px;
}

.modal-container {
    width: 100vw;

    justify-content: center;

    position: absolute;

    bottom: 20px;

    z-index: 11;
}

#message-modal {
    border-radius: 15px;
    width: 600px;
    height: 100px;

    position: relative;
    

    margin: auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 10px;
}

#message-modal.error {
    background-color: rgb(139, 2, 2);
}

#message-modal.message {
    background-color: var(--taupe-brown);
}

#message-modal.success {
    background-color: rgb(2, 73, 2);
}

#message-modal h3 {
    font-size: 1.4rem;
}

#message-modal span {
    font-size: 1rem;
}

#message-loader {
    background-color: var(--sky-blue);
    width: 0px;
    height: 5px;

    position: absolute;
    bottom: 0;
    margin: auto;
    border-radius: 15px;

    animation: linear messageLoader 5s ;
}

@keyframes messageLoader {
    0% {
        width: 580px;
    }

    100% {
        width: 0px;
    }
}


#loader {
    position: absolute;
    width: 100vw;
    height: 100vh;

    z-index: 10;

    background-color: #121f2bad;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
}

#loader div {
    border: 8px double var(--sky-blue);
    border-bottom-color: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;

    animation: linear 1s loader infinite;
}


@keyframes loader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}